node_modules
dist
coverage
reports
package-lock.json

.apphosting
.cache
.data
.DS_Store
.env
.eslintcache
.idea
.netlify
.nitro
.nyc_output
.output
.pnpm-store
.tmp
.vercel
.vercel_build_output
.vscode
.wrangler
.zeabur

*.iml
*.lcov
*.log
